body{
	margin: 0;
}
nav{
	background-color: black;
	display: inline-flex;
	width: 100%
}
nav .logo .tripper{
	color: grey;
	font-size: 30px;
	font-family: cursive;
	text-decoration: none;
}
nav .navitem{
list-style-type: none;
display: inline-flex;
}
nav .navitem .navlink{
	margin-left: 15%;
}
nav .navitem .navlink a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 8px;
}
/*nav .navitem .navlink:hover{
	background-color: green;
}
nav .navitem .navlink a:hover{
	font-size: 30px;
	font-family: cursive;
}*/